webpack (import/export)
    Babel
    Scss
    Eslint
    2 mods
        - Dev
          Dev server, SourceMode, Eslint, Not Minified JS & CSS
        - Prod
          Minified Code
Git

    Production
        1.0.0
        0 ----------
    Development
        1.0.2
        1 ------------
        2 ---------------

https://lk.result.school/pl/teach/control/lesson/view?id=161422197&editMode=0